.selectControl {
  position: relative;
  margin-bottom: 20px;
  .inputChannel {
    display: flex;
    input {
      width: 95%;
      border: none;
      padding-top: 16px;
      border-bottom: 1px solid #205f18;
      font-family: "Lexend";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.03em;
      background-color: transparent;
      color: aliceblue;
    }
    .arrowImage {
      margin-top: 18px;
      width: 10px;
      height: 5px;
      background: url("../../../../public/image/down-arrow.png") no-repeat
        center center;
    }
  }
  .dropdown-box {
    box-sizing: border-box;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 100%;
    height: 170px;
    display: none;
    background: #1a3217;
    border: 1px solid rgba(44, 167, 29, 0.2);
    box-shadow: 0px 48px 75px #070707;
    border-radius: 10px;
    z-index: 3;
    padding: 15px;
    .search-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: "Lexend";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.03em;
      color: #5d6c60;
      input {
        padding: 0px;
        margin-bottom: 3px;
        border: none;
        font-family: "Lexend";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.03em;
        background-color: transparent;
        color: aliceblue;
      }
      img {
        width: 14px;
        height: 14px;
      }
    }
    .country-menu {
      .country-select:hover {
        background: rgba(44, 167, 29, 0.2);
        border-radius: 6px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        vertical-align: middle;
        padding: 8px 15px 6px 0px;
        .border-left {
          display: block;
          position: absolute;
          width: 3px;
          height: 17px;
          background-color: #2ca71d;
        }
        .content {
          flex-grow: 1;
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          padding-left: 15px;
          p {
            font-family: "Lexend";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            margin: 0;
            letter-spacing: 0.03em;
            left: 15px;
            color: #d4d4e2;
          }
          img {
            display: block;
            width: 16px;
            height: 16px;
          }
        }
      }
      .country-select {
        border-radius: 6px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 8px 15px 6px 15px;
        .border-left {
          display: none;
        }
        .content {
          p {
            font-family: "Lexend";
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            margin: 0;
            letter-spacing: 0.03em;

            color: #d4d4e2;
          }
          img {
            display: none;
          }
        }
      }
    }
  }
  label {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    pointer-events: none;
    font-family: "Lexend";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.03em;

    color: #d4d4e2;
    transition: top 0.2s, font-size 0.2s;

    img {
      width: 14px;
      margin-right: 5px;
    }
  }

  &.has-value label,
  input:focus + label {
    top: 0px;
    font-size: 12px;
    img {
      width: 12px;
      margin-right: 5px;
    }
    .dropdown-box {
      display: none;
    }
  }
  &.has-value .arrowImage,
  input:focus + .arrowImage {
    background: url("../../../../public/image/up-arrow.png") no-repeat center
      center;
  }
  &.has-value,
  .dropdown-box:focus {
    .dropdown-box {
      display: block;
    }
  }
  input:focus {
    outline: none;
    background: transparent;
  }
}
