.footer {
  display: flex;
  justify-content: space-between;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #9d9dad;
  margin-top: auto;
  .left {
    justify-content: flex-start;
  }
  .right {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 854px) {
  .footer {
    flex-direction: column;
  }
}
